includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - tests/
        - database/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - '''
        #^PHPDoc type array of property App\\Providers\\EventServiceProvider\:\:\$observers is not covariant with PHPDoc type array\<string, array\<int, object\|string\>\|object\|string\> of overridden property Illuminate\\Foundation\\Support\\Providers\\EventServiceProvider\:\:\$observers\.$#
        '''
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
